* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Gill Sans", sans-serif;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;  
  margin: 0;
  padding: 20px;
  border:  dotted 10px white;
  background-color: white;
  background-image: url(https://i.pinimg.com/736x/ba/38/40/ba3840991bf5605db3efb2a08a21dddf.jpg);
  background-size: cover;
  background-position: 50%;
}
form {
  padding: 30px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
h1 {
  font-size: 44px;
  padding: 9px;
}
.barra-horizontal {
  background-color: #d991a5;
  height: 5px;
  width: 210px;
}
.campo-input {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
button {
  padding: 10px;
  align-self: center;
  width: 120px;
  border-radius: 30px;
  background-image: linear-gradient(#d991ab, #fad9e5);
  border: solid 1px #ad5f7c;
  border-right-width: 4px;
  border-bottom-width: 5px;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
input {
  padding: 3px 10px;
  border-radius: 10px;
  border: groove;
  background-color: #f1f1f1;
}
a {
  color: rgb(550, 174, 200);
  font-weight: 500;
}
